@import url('/components/css/buttons.css');
* {
    margin: 0px;
    padding: 0px;
}


.box-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 43px;
}

.home-header {
    color: var(--grad-10);
    font-weight: 600;
    margin-bottom: 56px;
}

.parent-element * {
    margin-top: -25px;
}