@import url('/components/css/buttons.css');


.box-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 43px;
}

.home-header {
    color: var(--grad-10);
    font-weight: 600;
    margin-bottom: 55px;
    margin-top: -250px;
}


.info-tour {
    position: absolute;
    bottom: 12px;
    color: var(--grad-7);
    font-size: 15px;
}

.tour {
    color: var(--grad-9);
    margin-left: 5px;
    transition: 0.25s;
}

.tour:hover {
    color: var(--grad-10);
    cursor: pointer;
}