@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: inter;
}
body {
    background-color: #0E0F12;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    filter: brightness(0.9);
    background-position: center center;
    flex-direction: column;
    background-color: #0E0F12;
}


.loader {
    border: 6px solid transparent; 
    border-top: 6px solid #e1e1e1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s cubic-bezier(0.76, 0.12, 0.48, 0.91) infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text {
    color: #a1a1a1;
    font-weight: 300;
    margin-bottom: 20px;
}