* {
    margin: 0px;
    padding: 0px;
    font-family: inter;
}


.home-button {
    background: var(--grad-5);
    color: var(--grad-8);
    transition: 0.25s;
    border-radius: 8px;
    outline: none;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
}

.home-button:hover {
    cursor: pointer;
    color: var(--grad-9);
    background: var(--grad-6);
}

.home-button:active {
    transform: scale(0.95);
}